---
interface Props {
    title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { translations } from "../i18n/translations";
import "../styles/global.css";
import "@fontsource-variable/onest";

const url = new URL(Astro.request.url);
const langParam = url.searchParams.get("lang");
const lang = (langParam as keyof typeof translations) || "es";
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/public/media/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/public/media/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/public/media/favicon-16x16.png"
        />
        <link rel="manifest" href="/media/site.webmanifest" />
        <link rel="icon" href="/media/favicon.ico" sizes="any" />

        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class="inset-0 -z-10 overflow-hidden">
            <div
                class="h-full w-full [background:radial-gradient(125%_125%_at_50%_10%,rgba(240,249,255,0.7)_15%,rgba(14,165,233,0.25)_40%,rgba(5,150,105,0.2)_100%)]"
            >
            </div>
        </div>
        <Header />
        <slot />
        <Footer />
    </body>
</html>

<style is:global>
    * {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
        font-family: "Onest Variable", sans-serif;
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        position: relative;
        overflow-x: hidden;
        /* FONDO DIRECTO EN EL BODY */
        background: radial-gradient(
            125% 125% at 50% 10%,
            rgba(240, 249, 255, 0.7) 15%,
            rgba(14, 165, 233, 0.25) 40%,
            rgba(5, 150, 105, 0.2) 100%
        );
        background-attachment: fixed; /* Esto hace que el fondo cubra toda la página */
    }

    .main-content {
        position: relative;
        z-index: 1;
        min-height: 100vh;
    }

    main {
        width: 100%;
        overflow-x: hidden;
    }

    /* Scroll suave entre secciones */
    section,
    [id] {
        scroll-margin-top: 80px;
    }
</style>
